<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2 class="text-light">About</h2>
        
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
          <img src="assets/img/profile-photo.jpeg" class="img-fluid" alt="" aria-label="Profile Photo">
        </div>
        <div class="col-lg-8 content">
          <h2>Web Developer</h2>
          <p class="py-3 text-justify">
            I'm a junior web developer with a passion for building clean, responsive, and user-friendly websites. With a strong foundation in HTML, CSS, and JavaScript, I have been honing my skills by working on personal projects and collaborating with teams to bring ideas to life. I enjoy solving problems and continuously learning new technologies to stay updated in this fast-evolving industry. Here's my information:
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Idioms:</strong> <span>Spanish and English</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+34 618 64 89 36</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Pulpí, Almería, Spain</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Higher Technician in Web Application Development</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>juanalonsopulpi@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p class="fst-italic py-3">
            To learn more about me and my professional activity, click the button below to download my CV.
          </p>
          <div class="text-center">
            <a href="assets/curriculumvitae-juanalonso.pdf" class="btn btn-primary" download>
              <i class="bi bi-download"></i> Descargar CV
            </a>
          </div>
          
        </div>
      </div>

    </div>

  </section><!-- /About Section -->