<!-- Exprecience -->
<section id="experience" class="section experience">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 class="text-light">Experience</h2>
        <p>Here is a summary of my professional experience.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <img src="assets/img/es-makito.png" class="card-img-top" alt="Company 1" aria-label="MAKITO Promotional Products Logo">
            <div class="card-body">
              <h5 class="card-title">MAKITO Promotional Products</h5>
              <h6 class="card-subtitle mb-2"><strong>IT Technician</strong></h6>
              <p class="card-text">I repaired equipment, provided user support, and handled operating systems.</p>
            </div>
          </div>
        </div>
        
  </section>