<footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Juan Alonso</strong> <span>All Rights Reserved 2025</span></p>
      </div>
     
    </div>

  </footer>