    <!-- Hero Section -->
    <section id="hero" class="hero section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <h2>Juan Alonso Pérez Pérez</h2>
          <p>I'm <strong><span class="typed" data-typed-items="Full Stack Developer, DevOps, Multi platform developer">Developer</span></strong></p>
          <div class="container">
            <div class="row">
              <div class="col-md-8"> <!-- Ajusta el número según el ancho deseado -->
                <div class="d-inline-flex p-2 ps-0 bd-highlight">
                  <p>Hi! I am Juan Alonso, Web Developer. Here in my portfolio you will be able to see my skills, my work experience, a small contact form to reach me, and my different projects.</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  
      </section><!-- /Hero Section -->