<section class="container py-5 text-light" id="tecnologias">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Technologies</h2>
        </div>
        <p class="mb-5">
            This section showcases my skills, but I am constantly learning and expanding my knowledge in many other technologies.
        </p>

        <div class="row justify-content-center g-4">
            <!-- Frontend -->
            <div class="col-lg-5">
                <div class="p-4 rounded-4 bg-dark-subtle elemento">
                    <h3 class="text-info text-center mb-4"><strong>Frontend</strong></h3>
                    <div class="d-flex flex-wrap justify-content-center gap-4">
                        <!-- HTML -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML" width="40">
                            <p class="mt-2">HTML</p>
                        </div>
                        <!-- CSS -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS" width="40" aria-label="CSS">
                            <p class="mt-2">CSS</p>
                        </div>
                        <!-- JavaScript -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" aria-label="Javascript" width="40">
                            <p class="mt-2">JavaScript</p>
                        </div>
                        <!-- ReactJS -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="ReactJS" width="40" aria-label="ReactJS">
                            <p class="mt-2">ReactJS</p>
                        </div>
                        <!-- TailwindCSS -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original.svg" alt="TailwindCSS" width="40" aria-label="TailwindCSS">
                            <p class="mt-2">TailwindCSS</p>
                        </div>
                        <!-- bootstrap -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="bootstrap" width="40" aria-label="Bootstrap">
                            <p class="mt-2">Bootstrap</p>
                        </div>
                        <!-- Figma -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" alt="Figma" width="40" aria-label="Figma">
                            <p class="mt-2">Figma</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Backend -->
            <div class="col-lg-5">
                <div class="p-4 rounded-4 bg-dark-subtle elemento">
                    <h3 class="text-warning text-center mb-4"><strong>Backend</strong></h3>
                    <div class="d-flex flex-wrap justify-content-center gap-4">
                        <!-- Spring Boot -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" width="40" alt="Spring Boot">
                            <p class="mt-2">Spring Boot</p>
                        </div>
                        <!-- Java -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" width="40" alt="Java">
                            <p class="mt-2">Java</p>
                        </div>
                        <!-- PHP -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" width="40" alt="PHP">
                            <p class="mt-2">PHP</p>
                        </div>
                        <!-- Express.js -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg" width="40" alt="Express">
                            <p class="mt-2">Express.js</p>
                        </div>
                        <!-- NestJS -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-original.svg" width="40" alt="NestJS">
                            <p class="mt-2">NestJS</p>
                        </div>
                        <!-- MySQL -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" width="40" alt="MySQL">
                            <p class="mt-2">MySQL</p>
                        </div>
                        <!-- Nginx -->
                        <div class="text-center tech-icon">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nginx/nginx-original.svg" width="40" alt="nginx">
                            <p class="mt-2">Nginx</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>